{% extends "center.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/center-page.css' %}">
{% endblock css %}

{% block centerContent %}

<div class="famous-content f-item">
    <h3 class="text-center"><span>医学中心</span></h3>
    <!-- <p class="text-center">我们弘扬真善美，服务于健康事业。汉典产业的健康事业，来自我们的不断创造。汉典产业以“科学发展、创造经典”为理念，以“真善美”服务社会，促进医药科技发展，创造值得信赖的品牌企业，实现我们“服务于健康事业”的理想和价值观。</p> -->
    <!-- <p class="text-center"><img src="{% static 'assets/img/news/news-3.jpg' %}" alt=""></p> -->
    <p class="text-remote">医学中心是汉典制药为医疗工作者、中医药行业工作者及爱好者定制的医学专业平台，您可以享受全方位、一站式医学专业服务：</p>
    <p>文献下载：提供文献下载平台，方便医疗工作者自由检索</p>
    <p>文献查询：汉典集团已上市药品文献汇总</p>
    <p>汉典产品：汉典集团已上市药品的相关信息查询</p>
    <p>汉典大学：权威专家中医药相关视频课程</p>
    <p>智能问诊：汇聚常见症状及相关数据，根据病症相关词，筛选和推送个性化信息</p>
    <p>资讯报道：医学发展前沿信息、中医药政策动态，医学学术会议的报道</p>
    <p>中医药典：方便查询，保证用药安全</p>

</div>

{% endblock centerContent %}