{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- <link rel="stylesheet" href="{% static 'assets/css/famous-iframe.css' %}"> -->
{% endblock css %}

{% block title %}名医咨询{% endblock title %}


{% block breadcrumb %}
  <!-- Start Breadcrumb     ============================================= -->
  <div class="breadcrumb-area min-h-a" style="background-image: url({% static 'assets/img/banner/6.jpg' %}); background-size: 100% 100%; background-position-x: center; background-repeat: no-repeat; min-height: 260px;">
    <div class="container">
      <div class="row banner-padding">
        <div class="col-md-6">
          <img src="{% static 'assets/img/title-b.png' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right pt-0">
          <ul class="breadcrumb">
            <li><a href="{% url 'user:index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li><a href="{% url 'user:famous' %}">名医咨询</a></li>
            <li class="active">在线咨询</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->
{% endblock breadcrumb %}

{% block content %}
  <!-- Start About    ============================================= -->
  <div class="famous-area default-padding top-40" style="background-image: url({% static 'assets/img/bg-2.jpg' %}); background-repeat: no-repeat; background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="f-item link">
            <h4>医疗服务<span>平台</span></h4>
            <ul class="sonnav">
                <li class="active"><a href="">汉典名老中医<i class="fa fa-caret-right"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
            <div class="famous-content f-item iframeparent">
                <iframe 
                id="iframeid" 
                src="http://www.hdzyhosp.com/docter_team.html"
                name="ifd" 
                onload="this.height=window.innerHeight"
                frameborder="0" 
                scrolling="auto" 
                width="100%" 
                style="">
                </iframe>
                <!-- onload="this.height=document.documentElement.clientHeight" -->
            </div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- End About -->
{% endblock content %}