<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="#" />
    <!-- ========== Page Title ========== -->
    <title>#</title>
    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
      <!-- ========== End Stylesheet ========== -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><script src="assets/js/html5/html5shiv.min.js"></script><script src="assets/js/html5/respond.min.js"></script><![endif]-->
    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700,800" rel="stylesheet" />
</head>

<body>
    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->
    <!-- Start Header Top     ============================================= -->
    <div class="top-bar-area inline inc-border">
        <div class="container">
            <div class="row">
                <div class="col-md-8 address-info text-left">
                    <div class="info box">
                        <ul>
                            <li><i class="fa fa-envelope"></i>hantien@handian.com</li>
                            <li><i class="fa fa-phone"></i>010-56903399</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 bar-btn text-right">
                    <a href="#">中文版<i class="fa fa-sort-down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top -->
    <!-- Header     ============================================= -->
    <header id="home">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
            <!-- Start Top Search -->
            <div class="container">
                <div class="row">
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->
            <div class="container">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <!-- <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li> -->
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                            class="fa fa-bars"></i></button>
                    <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo"
                            alt="Logo" /></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li><a href="index.html">首页</a></li>
                        <li><a href="about.html">走进汉典</a></li>
                        <li><a href="famous.html">名医咨询</a></li>
                        <li><a href="center.html">医学中心</a></li>
                        <li><a href="service.html">服务与产品</a></li>
                        <li><a href="news.html">新闻动态</a></li>
                        <li class="active"><a href="recruitment.html"><em></em>招贤纳士</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->
    <!-- Start Breadcrumb     ============================================= -->
    <div class="breadcrumb-area min-h-a"
        style="background-image: url(assets/img/banner/9.jpg); background-size: 100% 100%; background-position-x: center; background-repeat: no-repeat; min-height: 260px;">
        <div class="container">
            <div class="row banner-padding">
                <div class="col-md-6">
                    <img src="assets/img/title-e.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right pt-0">
                    <ul class="breadcrumb">
                        <li><a href="index.html"><i class="fa fa-home"></i>首页</a></li>
                        <li><a href="recruitment.html">招贤纳士</a></li>
                        <li class="active">正文</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->
    <!-- Start About    ============================================= -->
    <div class="famous-area default-padding top-40"
        style="background-image: url(assets/img/bg-2.jpg); background-repeat: no-repeat; background-size: 100%;">
        <div class="container news-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="recruitment-cont">
                        <span class="time">2019-12-25</span>
                        <h2>高级产品组经理（北京）</h2>
                        <h3>职位描述</h3>
                        <p>
                            <span><strong>工作经验：</strong>5年以上工作经验 / 硕士</span>
                            <span><strong>工作地点：</strong>北京-朝阳区</span>
                            <span><strong>薪金待遇：</strong>面议</span>
                            <span><strong>工作性质：</strong>全职</span>
                            <span><strong>招聘人数：</strong>1人</span>
                        </p>
                        <p><span><strong>专业要求：</strong>临床医学、中医学相关专业</p>
                        <p><span>1、医学、药学相关专业本科及以上学历，中医、中药学专业优先； <br>
                                        2、5年以上市场或产品管理经验，3年以上团队管理经验； <br>
                                        3、较强的分析策划、文字组织、数据分析能力，良好的沟通与协调能力；<br>
                                        4、丰富的市场管理知识与技能，具有较强的市场大局观意识及个人影响力，积极的工作态度和良好的团队合作精神；<br>
                                        5、热爱产品市场策划和学术推广工作。</span></p>
                        <p><span><strong>工作职责：</strong></p>
                        <p><span>1、结合公司的发展战略，确定产品的发展规划，制定正确的产品策略；<br>
                                        2、根据产品策略，有效策划和实施各级别的学术推广活动； <br>
                                        3、收集、整理产品的医学背景资料、分析治疗领域的现状，形成产品定位；提炼产品FAB，为一线提供推广工具。<br>
                                        4、提供产品知识培训，提升销售队伍学术推广的竞争力；<br>
                                        5、产品的市场调研、竞争产品分析；<br>
                                        6、制作产品宣传资料和培训资料； <br>
                                        7、专家网络建设与维护； <br>
                                        8、与相关各级学会保持良好沟通与关系维护。</span></p>
                        <h3>投递简历</h3>
                        <p><a href="">邮箱：hdzyhr@handian.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->
    <!-- Start Footer     ============================================= -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="f-items default-padding">
                    <!-- Single Item -->
                    <div class="col-md-6 item">
                        <div class="f-item">
                            <p><a href="index.html"><img src="assets/img/logo.png" class="logo" alt="Logo" /></a></p>
                            <p>北京汉典制药为北京市高新技术企业，以产、学、研为基础，致力于预防和治疗疾病的科学研究、产品开发，不断取得高科技成果，拥有多项国家发明专利...</p>
                            <p><i class="fa fa-map-marker"></i>北京市朝阳区朝外大街乙12号1号楼昆泰国际大厦22层</p>
                            <p><i class="fa fa-envelope"></i>hantien@handian.com</p>
                            <p><i class="fa fa-phone"></i>010-56903399</p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-3 item">
                        <div class="f-item link">
                            <h4>网站导航</h4>
                            <ul>
                                <li><a href="contact.html"><i class="fa fa-arrow-right"></i>联系我们</a></li>
                                <li><a href="law.html"><i class="fa fa-arrow-right"></i>法律声明</a></li>
                                <li><a href="privacy.html"><i class="fa fa-arrow-right"></i>隐私保护</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-3 item">
                        <div class="f-item twitter-widget">
                            <h4>关注我们</h4>
                            <div class="twitter-item">
                                <div class="twitter-content">
                                    <p><a href=""><img src="assets/img/TC.png" alt=""></a><a href=""><img
                                                src="assets/img/TC.png" alt=""></a></p>
                                </div>
                            </div>
                            <div class="twitter-item">
                                <div class="twitter-content">
                                    <p><a href="#"><strong>汉典集团</strong></a></p>
                                    <p><a href="#"><strong>汉典中医医院</strong></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright &copy; 2019.Company name All rights reserved.</p>
                    </div>
                    <div class="col-md-6 text-right link">
                        <ul>
                            <li><a href="#"><i class="fa fa-qq"></i></a></li>
                            <li><a href="#"><i class="fa fa-weixin"></i></a></li>
                            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
    <!-- jQuery Frameworks    ============================================= -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootsnav.js"></script>
  
</body>

</html>