{% extends "base.html" %}
{% load static %}

{% block title %}服务与产品{% endblock title %}


{% block breadcrumb %}
  <!-- Start Breadcrumb     ============================================= -->
  <div class="breadcrumb-area min-h-a" style="background-image: url({% static 'assets/img/banner/5.jpg' %}); background-size: 100% 100%; background-position-x: center; background-repeat: no-repeat; min-height: 260px;">
    <div class="container">
      <div class="row banner-padding">
        <div class="col-md-6">
          <img src="{% static 'assets/img/title-a.png' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6 text-right pt-0">
          <ul class="breadcrumb">
            <li><a href="{% url 'user:index' %}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">服务与产品</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumb -->
{% endblock breadcrumb %}

{% block content %}
  <!-- Start About    ============================================= -->
  <div class="about-area default-padding" style="background-image: url({% static 'assets/img/bg-2.jpg' %}); background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="site-heading text-center">
            <h2>医疗服务 <span>平台</span></h2>
            <p>致力于预防和治疗疾病的科学研究、产品开发，不断取得高科技成果，拥有多项国家发明专利...</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6">
            <div class="item">
              <div class="info">
                <h2><img src="{% static 'assets/img/service-icon-a.png' %}" alt=""></h2>
                <h4><a href="#">名医工作站</a></h4>
                <p>传承医学精华，创建国药品牌，实现汉典可持续发展，形成产业化、多元化、全球化的集约型新产业集团。</p>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6">
            <div class="item">
              <div class="info">
                <h2><img src="{% static 'assets/img/service-icon-b.png' %}" alt=""></h2>
                <h4><a href="#">中医综合诊疗</a></h4>
                <p>传承医学精华，创建国药品牌，实现汉典可持续发展，形成产业化、多元化、全球化的集约型新产业集团。</p>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6">
            <div class="item">
              <div class="info">
                <h2><img src="{% static 'assets/img/service-icon-d.png' %}" alt=""></h2>
                <h4><a href="#">疑难杂症诊疗</a></h4>
                <p>传承医学精华，创建国药品牌，实现汉典可持续发展，形成产业化、多元化、全球化的集约型新产业集团。</p>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 col-sm-6">
            <div class="item">
              <div class="info">
                <h2><img src="{% static 'assets/img/service-icon-c.png' %}" alt=""></h2>
                <h4><a href="#">中医调理</a></h4>
                <p>传承医学精华，创建国药品牌，实现汉典可持续发展，形成产业化、多元化、全球化的集约型新产业集团。</p>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
  </div>
  <!-- End About -->
  <!-- Start Services     ============================================= -->
  <div class="services-area bg-light carousel-shadow default-padding" style="background-image: url({% static 'assets/img/service-bg.jpg' %}); background-repeat: no-repeat; background-size: auto 100%; background-position-x: center;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="site-heading text-center">
            <h2>经典 <span>中成药</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial-items services-carousel owl-carousel owl-theme text-center">
            {% for cpro in class_products %}
            <!-- Single Item -->
            <div class="item">
              <div class="content">
                <h4><img src="{{ cpro.img }}" alt=""></h4>
                <a href="{% url 'user:class-product' %}?name={{ cpro.name }}&types=经典中成药"><p>{{ cpro.name }}</p></a>
              </div>
            </div>
            {% endfor %}
            <!-- End Single Item -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Services -->
  <!-- Start Testimonials     ============================================= -->
  <div class="product-area bg-light carousel-shadow default-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="site-heading text-center">
            <h2>中成 <span>新药品</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        

        {% for new_product in new_products %}
        <div class="text-center">
            {% if forloop.counter|divisibleby:2 == 0 %}
                {% for pro in new_product %}
                <div class="col-md-3 col-sm-6" style="padding: 0;">
                    <div class="item bg2">
                      <div class="info">
                        <img src="{{ pro.img }}" alt="">
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6" style="padding: 0;">
                    <div class="item">
                      <div class="info">
                        <h4><a href="{% url 'user:class-product' %}?name={{ pro.name }}&types=中成新药品">{{ pro.name }}</a></h4>
                        <p>{{ pro.info_detail }}</p>
                        <a class="btn btn-md" href="{% url 'user:class-product' %}?name={{ pro.name }}&types=中成新药品">了解更多</a>
                      </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for pro in new_product %}
                <div class="col-md-3 col-sm-6" style="padding: 0;">
                  <div class="item">
                        <div class="info">
                          <h4><a href="{% url 'user:class-product' %}?name={{ pro.name }}&types=中成新药品">{{ pro.name }}</a></h4>
                          <p>{{ pro.info_detail }}</p>
                          <a class="btn btn-md" href="{% url 'user:class-product' %}?name={{ pro.name }}&types=中成新药品">了解更多</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-3 col-sm-6" style="padding: 0;">
                  <div class="item bg2">
                    <div class="info">
                      <img src="{{ pro.img }}" alt="">
                    </div>
                  </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- End Testimonials -->
{% endblock content %}

{% block js %}
<script src="{% static 'assets/js/main.js' %}"></script>
{% endblock js %}