{% extends "product.html" %}
{% load static %}

{% block tabName%}
<li class="active">经典中成药</li>
{% endblock tabName%}

{% block serviceName %}
<li><a href="{% url 'user:product' %}">医疗服务平台<i class="fa fa-caret-right"></i></a></li>
<li class="active"><a href="{% url 'user:product-class' %}">经典中成药<i class="fa fa-caret-right"></i></a></li>
<li><a href="{% url 'user:product-new' %}">中成新品药<i class="fa fa-caret-right"></i></a></li>
{% endblock serviceName %}

{% block innerContent %}
<div class="col-md-9">
    <div class="famous-content f-item">
        <h3 class="text-center"><span>经典中成药</span></h3>
        <p class="text-center">模块说明</p>
        <div class="row">
            {% for p in product_data.results %}
            <div class="col-md-4">
                <div class="item-center item-service" style="height:380px; overflow:hidden;">
                    <div class="info">
                        <h2><img src="{{ p.img }}" alt=""></h2>
                        <h4><a href="{% url 'user:product-all' p.id %}">{{ p.name }}</a></h4>
                        <p class="product-detail-info">{{ p.main }}</p>
                        <p class="detail-link"><a href="{% url 'user:product-all' p.id %}" class="link-goods">商品详情&nbsp;&raquo;</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="{% if product_data.previous %}{{ product_data.previous }}{% else %}javascript:void(0);{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="javascript:void(0)">{{ current_page }}</a></li>
                <li>
                    <a href="{% if product_data.next %}{{ product_data.next }}{% else %}javascript:void(0);{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock innerContent %}
